/** @format */
@import '../nav';
@import '../header';


body {
    max-width: 1920px;
    margin: 0 auto;
  }

.logo-design-container{
    width: 100%; height: auto;
    @include flexBox(center,center,column);
    padding: 3rem 0rem 10rem 0rem;
   
   .logo-description{
    width: 80%;
    margin-bottom: 4rem;
    h5{
      width: 80ch;
    }
  }

  .logo-contents{
    width: 80%; height: 80vh;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
     .logo{
        box-shadow: 4px -3px 10px rgba(0, 0, 0, 0.548);
      img{
        width: 100%; 
        object-fit: fill;
      }
    }
  }
}


.social-design-container{
  width: 100%; height: auto;
  @include flexBox(center,center,column);
  padding: 3rem 0rem 10rem 0rem;
 
 .social-description{
  width: 95%;
  margin-bottom: 4rem;
  h5{
    width: 80ch;
  }
}

.social-contents{
  width: 95%; height: auto;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);

  .social{
    img{
      width: 100%;
      object-fit: cover;
    }
  }
  .soc3{
    grid-row: 1/4;
    grid-column:3/4;
    @include flexBox(center,center,column);
    video{
      width: 100%; height: 65%;
    }
  }

}
}



  // footer section
footer {
  width: 100%;
  background-color: $pink;
  padding: 1rem 0rem;
  @include flexBox(center, center, row);
  color: white;
}




@media (min-width: 240px) and (max-width: 480px) {
  body {
    max-width: unset;
    margin: unset;
}

.logo-design-container{
 .logo-description{
  width: 100%;
  padding: 0rem 1rem;
  h5{
    width: unset;
  }
}

.logo-contents{
  width: 90%; height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60% 60%;
}
}


.social-design-container{
.social-description{
h5{
  width: unset;
}
}

.social-contents{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr;
.soc3{
  grid-row: unset;
  grid-column:unset;
  video{
    height: auto;
  }
}

}
}

}