/** @format */
@import '../nav';
@import '../header';


body {
    max-width: 1920px;
    margin: 0 auto;
  }

  .wordpress-container{
    width: 100%; height: 100vh;
    @include flexBox(center,center,row);


  .wordpress-content{
    width: 65%; height: 75%;
    background-color: $hover;
    position: relative;
    img{
        width: 90%; height: 75%;
        background-color: grey;
        object-fit: fill;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translateY(-50%);
        box-shadow: 4px 1px 8px rgba(0, 0, 0, 0.486)
    }
  }  

  .wordpress-title-container{
    @include flexBox(space-between,center,column);
    width:35%; height: 75%;
    position: relative;
    padding-right: 2rem;
    .project-title{
        width: 100%;
        height: 15%;
        h2{
            font-size: clamp(1rem, 2rem, 3rem);
            color: $primary;
            margin-left: 1rem;
        }
    }


    .wordpress-title{
        align-self: flex-end;
        width: 100%;
        height: 100%;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        @include flexBox(flex-end,flex-start,column);
        // border: 1px solid red;
        h2{
            color: rgba(128, 128, 128, 0.308);
            margin-left: 1rem;
        }
        .block{
            width: 45%; height: 1rem;
            background-color: $hover;
        }
    }

  }  








  }







  // footer section
footer {
  width: 100%;
  background-color: $pink;
  padding: 1rem 0rem;
  @include flexBox(center, center, row);
  color: white;
}




@media (min-width: 240px) and (max-width: 1080px) {
  body {
    max-width: unset;
    margin: unset;
}

.wordpress-container{
  width: 100%; height: 100vh;
  @include flexBox(center,center,column);


.wordpress-content{
  width: 100%; height: 70%;
  @include flexBox(center,center,row);
  img{
      width: 90%; height: auto;
      position: unset;
      transform: translateY(-0%);
  }
}  

.wordpress-title-container{
  @include flexBox(center,center,column);
  width:100%; height: 70%;
  position: relative;
  padding-right: unset;
  .project-title{
      width: 100%;
      height: auto;
      h2{
          font-size: clamp(1rem, 2rem, 3rem);
          margin-left: 1rem;
      }
  }


  .wordpress-title{
      align-self: unset;
      width: auto;
      height: auto;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      @include flexBox(center,center,column);
      h2{
          color: rgba(0, 0, 0, 0.308);
          margin-left: 0rem;
          font-size: clamp(1rem, 3.5rem, 5rem);
      }
      .block{
          width: 45%; height: 1rem;
          background-color: $hover;
      }
  }

}  








}


}