/** @format */
@import './nav';
@import './header';




.intro-container {
  height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  @include flexBox(center, center, row);
  .intro-left,
  .intro-right {
    @include flexBox(center, center, column);
  }
  .intro-left {
    flex: 1;
    position: relative;
    padding: 1rem 0rem 0rem 5rem;
    .intro-descript {
      text-align: left;
      position: relative;
      .patch{
        position: absolute;
        left: -1%;
        width: 10px; height: 20px;
        background-color: white;
      }
      .typing{
        position: absolute;
        width: 110%;
        top: -40%;
        padding: .5rem 0rem;
        color: $hover;
        font-size: clamp(2rem, 4rem, 5vw); 
      }
      h4 {
        font-size: 1.3rem;
        font-weight: $regular;
        margin-bottom: 0.5rem;
        span {
          color: $pink;
          font-weight: $sbold;
        }
      }

      p {
        margin: 0rem 0rem 1rem 0rem;
        line-height: 1.25;
        color: $greytext;
        font-size: clamp(16px, 1.2rem, 5vw);
        overflow: hidden;
        max-width: 53ch;
      }
      button {
        padding: 0.8rem 1rem;
        border: none;
        border-radius: 5px;
        font-weight: $sbold;
        background-color: $pink;
        color: white;
        transition: 0.3s;
        &:hover {
          padding: 0.8rem 1.2rem;
        }
      }
    }
  }
  .intro-right,
  .show-on-scroll {
    width: 50%;
    flex: 1;
    opacity: 0;
    transition: 3s ease;
    svg {
      width: 100%;
      filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.459));
    }
  }
  .is-visible {
    opacity: 1;
  }
}

// About section
.about-container {
  padding: 5rem 0rem 2rem 0rem;
  @include flexBox(center, center, row);

  .about-banner {
    width: 50%;
    max-width: 600px;
    height: 350px;
    background: url('./images/background/pexels-mikael-blomkvist-6476587.jpg')
    no-repeat;
    background-size: 100%;
    position: relative;
    border-radius: 6px;
    box-shadow: -10px 6px 28px 3px rgba(0,0,0,0.5),
    inset -10px 6px 28px 3px rgba(194, 191, 191, 0.534);
    
    // -webkit-transform: scaleX(-1); //flips the  content
    // -moz-transform: scaleX(-1);
    // -o-transform: scaleX(-1);
    // transform: scaleX(-1);
    // filter: FlipH;
    // -ms-filter: "FlipH";
   #primaryBlob{
    width: 45%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: -45%;
    left: -20%;
    transform: rotate(230deg);
   }
   #Dots{
    position: absolute;
    top: 35%;
    left: -15%;
    z-index: -2;
  }

    .about-card,
    .show-on-scroll {
      background-color: $primary;
      padding: 1.5rem;
      width: 55%;
      position: absolute;
      top: 100%;
      opacity: 0;
      right: -30%;
      transform: translate(50%, -50%);
      transition: 0.6s ease-out;
      h3 {
        color: $pink;
        margin-bottom: 1rem;
        font-size: clamp(1rem, 2rem ,5rem);
      }
        p {
          color: white;
          text-align:left;
          line-height: 1.7rem;
        }
    }
    .is-visible {
      opacity: 1;
      transform: translate(0%, -50%);
    }
  }
}

// skills section
.skills-container {
  margin: 15rem 0rem ;
  @include flexBox(center, center, column);
  text-align: center;

  .skill-table {
    @include flexBox(center, flex-start, row);
    width: 90%;
    margin-top: 7rem;
    padding: 1rem 0rem;
    flex-wrap: wrap;
    .row {
      flex: 2;
      @include flexBox(flex-start, center, column);
   
      h3 {
        color: $pink;
        font-weight: $sbold;
        font-size: 1.7rem;
        letter-spacing: 1px;
        margin: 1rem 0rem;
      }
      
      ul {
        text-align: left;
        margin-top: 10px;
        li {
          font-size: 1.3rem;
          color: rgba(0, 0, 0, 0.76);
          margin: 1.5rem 0rem;
        }
        .incomplete{
          color: rgba(61, 59, 59, 0.486);
        }
      }
    }
  }
}



.projects-container{
  width: 100%; 
  color: white;
  @include flexBox(center,center,column);
  margin: 7rem 0rem 0rem 0rem;
  padding: 10rem 0rem;
  background-color: $primary;
  // title
  .project-title{
    text-align: center;
  }

  // buttons
  .project-btns{
    width: 100%;
    @include flexBox(center,center,row);
    padding: 2rem 0rem;
    gap: 1rem;
  .project-btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: $pink;
    background: transparent;
    transition: ease-out 0.5s;
    border: 2px solid $pink;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 $pink;
    &:hover{
      color: white;
      box-shadow: inset 0 -100px 0 0 $pink;
    }
    &:active{
      transform: scale(0.9);
    }
  }
  }
  // items
  .projects-item-container{
    max-width: 1980px;
    width: 90%;
    margin-top: 5rem;
    @include grid(repeat(3, 1fr), repeat(auto, 300px), 2rem);
    
  .project-item{
    @include flexBox(center,flex-start,column);
    gap: 1.5rem ;
    align-self: center;
    img{
      width: 100%; height: 100%;
      object-fit: contain;
    }
    video{
      width: 100%;
    }
  .item-info{
   a{
    color: white;
  &:hover{
    text-decoration: underline;
  }
  }
   }
  }
  }
}


// Contact section
.contact-container {
  width: 100%;
  height: auto;
  padding: 3rem 0rem;
  @include flexBox(center, center, column);
  h2 {
    font-size: clamp(2.5rem, 4rem, 5vw);
  }
  p {
    color: white;
  }
  .contactLottie{
    margin-top: 2rem;
    cursor: pointer;
  }
}

// footer section
footer {
  width: 100%;
  background-color: $pink;
  padding: 1rem 0rem;
  @include flexBox(center, center, row);
  color: white;
}

@media (min-width: 240px) and (max-width: 480px) {
  body {
    max-width: unset;
    margin: unset;
  }
  .intro-container {
    margin: 2rem 0rem 5rem 0rem;
    text-align: center;
    .intro-left {
      flex: unset;
      padding: unset;
      margin: 5rem 0rem;

      .intro-descript {
        padding: 0rem 2rem;
        .typing{
          top: -15%;
          
      }
      }
    }
    .intro-right {
      width: 100%;
      svg {
        width: 100%;
      }
    }
  }

  // About section
  .about-container {
    height: auto;
    margin: 10rem 0rem 0rem 0rem;
    .about-banner {
      width: 100%;
      #primaryBlob {
        opacity: 0;
      }
      .about-card {
        width: 100%;
        top: 96%;
        right: unset;
        transform: translateY(0%,-50%);
      }
  }
  }

  // skills section
  .skills-container {
    padding: 0rem 1rem;
    .skill-table {
      @include flexBox(center, center, column);
      width: 100%;
      .row {
        margin: 2rem 0rem;
      }
    }
  }


  
 // projects container
 .project-container{
  .project-card{
    width:90%;
    img{
      width: 85%;
    }
  }
}

// Contact section
.contact-container {
  text-align: center;
  padding: 0rem .5rem;
  h2 {
    font-size: clamp(2.5rem, 4rem, 5vw);
  }
  p {
    color: $pink;
  }
  .contactLottie{
    margin-top: 2rem;
    cursor: pointer;
  }
}


}


